<h1>New Item Creator</h1>

<%= form_for @item, url:{:controller=>'admin/items', :action=>'create'} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :status %>
  <%= f.text_field :status %>
  <%= f.collection_check_boxes :category_ids, @categories, :id, :name do |m| %>
  <%= m.check_box %> <%= m.label %>
<% end %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
<br>
