<h2>My Orders</h2>
<% @orders.each do |order| %>
<% order.order_items.each do |item| %>
<%= binding.pry %>
Subtotal: $  <%= subtotal %> #cart-obj
Quantity: $  <%= quantity %> 
Subtotal: $  <%= item %> #item-obj
Subtotal: $  <%= status %>
Subtotal: $  <%= fulfilment_date %>
Subtotal: $  <%= total %>
  <% end %>
<% end %>
