<h1>Category Show</h1>

<%= button_to "Categories", categories_path, :class => "waves-effect waves-light light-blue darken-4 btn left", method: :get %>
<br><br>
<div class="items">
  <div class="row">
  <% @items.each do |item| %>
    <div class="col s3 m3">
      <div class="card large">
        <div class="card-image">
        <%= image_tag item.image, height: '250', width: '250' %>
        </div>
        <div class="card-content">
          <h5><%= link_to item.title, item_path(item) %></h5>
          <p>Price: <%= item.price %></p>
          <br>
          <p>Description: <%= item.description %></p>
          </div>
          <div class="card-action">
            <%= link_to "Add to Cart", cart_path(item_id: item.id), method: :post %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
