<!DOCTYPE html>
<html>
<head>
  <title>WabiSabi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>わびさび Wabi-sabi</h1>

  <% flash.each do |type, msg| %>
    <%= content_tag :div, msg, class: type %>
  <% end %>
  <p> <%= @cart.total_count %></p>
  <%= button_to "View Cart:", cart_path(cart: @cart.contents) %>
<%= yield %>

</body>
</html>
