<!DOCTYPE html>
<html>
<head>
  <title>WabiSabi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="/css/style.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <main>
  <nav>
  <div class="nav-wrapper">
    <a href="<%= root_path %>" class="brand-logo">わびさび Wabi-sabi</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to "Admin Dashboard", admin_dashboard_path if admin? %></li>
      <li><%= link_to "My Orders", orders_path if current_user %></li>
      <li><%= link_to "#{current_user.first_name.capitalize}'s Account",
              user_path(current_user) if current_user %></li>
      <li><%= link_to "Cart: #{@cart.total_count}",
              cart_path(session[:cart]) %></li>
      <li><%= link_to "Login", login_path unless current_user %></li>
      <li><%= link_to "Log Out", logout_path, method: :post if current_user %></li>
    </ul>
  </div>
</nav>


  <% flash.each do |type, msg| %>
    <%= content_tag :div, sanitize(msg), class: type %>
  <% end %>

  <div class="navbar">

  </div>
  <div class="container">
<%= yield %>
</div>
</main>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Developer Info</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
</body>
</html>
