<!DOCTYPE html>
<html>
<head>
  <title>WabiSabi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>
  <main>
  <nav>

    <div class="nav-wrapper">
      <a href="<%= root_path %>" class="brand-logo">わびさび Wabi-Sabi</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to "Admin Dashboard", admin_dashboard_path if admin? %></li>
        <li><%= link_to "My Orders", orders_path if current_user %></li>
        <li><%= link_to "#{current_user.first_name.capitalize}'s Account",
                user_path(current_user) if current_user && current_user.first_name != nil %></li>
        <li><%= link_to "Cart: #{@cart.total_count}",
                cart_path(session[:cart]) %></li>
        <li><%= link_to "Login", login_path unless current_user %></li>
        <li><%= link_to "Log Out", logout_path, method: :post if current_user %></li>
      </ul>
    </div>
  </nav>


  <div class="container">

    <% flash.each do |type, msg| %>
    <%= content_tag :div, sanitize(msg), class: type %>
    <% end %>

<%= yield %>

</div>
</main>
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Wabi-Sabi</h5>
        <p class="grey-text text-lighten-4">"Here to deliver the highest quality asian projects."</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Dev Team</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://github.com/blackknight75">Daniel Olson</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/scmountain">Spencer Carter</a></li>
          <li><a class="grey-text text-lighten-3" href="https://github.com/brandonrandall">Brandon Randall</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Text
    </div>
  </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/assets/materialize.js"></script>
  <script src="/assets/init.js"></script>
  <script type='text/javascript'>
    $(document).ready(function(){
       $('.slider').slider();
       $('select').material_select();
     });
  </script>
</body>
</html>
